<div class="articulo">
  <!-- imagen -->
  <div>
    <img src="/assets/images/angular-logo.png" alt="logo angular">
  </div>
  <!-- titulo -->
  <div class="articulo-titulo">
    <h2>Título del artículo</h2>
  </div>
  <!-- contenido -->
  <div class="contenido">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla vitae, laudantium vero, rerum quibusdam amet incidunt explicabo ab unde dolore pariatur tempore. Recusandae excepturi suscipit, laudantium illum quisquam deserunt molestias!</p> 
  </div>
</div>




  @if (article) {
    <div class="articulo">
      <div>
        <img [src]="article.image.url" [alt]="article.image.desc">
      </div>
      <div class="articulo-titulo">
        <h2>   {{article.title}}</h2>
      </div>
      <div>
        <p>
          {{article.description}}
        </p>
      </div>
    </div>
  }

