.articulo {
    margin: 10px;
    background: aquamarine;
    padding: 10px;
    border-radius: 5px;
}

.articulo-titulo {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.articulo img {
    width: auto;
    height: 100px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.contenido {
    margin: 10px;
    padding: 10px;
}