.content {
    margin: 15px;
    border: 1px dotted #9E9E9E;
    padding: 20px;
}

input {
    padding: 15px;
    width: 90%;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    margin: 10px;
}

img {
    max-width: 100px;
}



.button-gris {
    background-color: #d7d8da;;
}

.content-form {
    margin: 15px;
    border: 1px dotted #9E9E9E;
    padding: 20px;
}

span {
    color: red;
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}