
<ion-content>

    <app-header titulo="Article"></app-header>

    <app-detail-carrito></app-detail-carrito>


        @if (article) {
            <!-- titulo -->
            <div style="margin: 10px">
                <div>
                  <h2 appHighlight="red" name="nombre_del_event">{{article.title}}</h2>
                </div>
                <!-- contenido -->
                <div>
                  <p>{{article.body}}</p> 
                </div>
            </div>
        }
      
        
    <app-footer></app-footer>

  
  
</ion-content>



