.content-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.button-remove {
    background: #ef6b6b;
    color: white;
    width: 25px;
    height: 25px;
    border: 1px solid #607D8B;
    margin-right: 10px;
}

.button-add {
    background: greenyellow;
    color: white;
    width: 25px;
    height: 25px;
    border: 1px solid #607D8B;
    margin-left: 10px;
}

