
<ion-content>

  <app-header [titulo]="tituloPagina"></app-header>
  


    @if(!cargando) {

      <div class="content-carrito">
        @if (carrito) {
          <p class="detalle-carrito">Cant: {{carrito.cantidadTotal}}  | Total: $ {{carrito.total.toFixed(2)}} </p> 
        }
      </div>

        @for (item of items; track $index) {

          <app-product-detail [item]="item" [index]="$index"
   
          ></app-product-detail>
          <!-- (add)="addItem(item)" (remove)="removeItem(item)" -->

        } @empty {
          <p >no hay articulos </p>

        }

    } 
    @else {
      <p style="text-align: center">cargando...</p>
    }

    <div  style="margin: 60px"></div>

    <div>
      <input (keyup)="validateInput()" />
    </div>
    <div>
      <input (keydown)="updateInput($event)" />
    </div>


    <div style="margin: 60px"></div>



  <app-footer></app-footer>

</ion-content>

