.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    background: aliceblue;
}

h3 {
    text-align: center;
    font-style: italic;
}

.option-menu {
    padding: 5px 10px;
    margin: 0px 10px;
    border: 1px solid #03A9F4;
    border-radius: 5px;
    background-color: #b3d1e8;
}


.cant-carrito {
    background: red;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 100%;
    font-weight: bold;
}

.empty-carrito {
    background: blue;
}