button {
    background-color: aquamarine;
    margin-top: 30px;
    margin: 10px;
    padding: 10px 40px;
    border-radius: 10px;
    background: aquamarine;
}

.content-form {
    margin: 15px;
    border: 1px dotted #9E9E9E;
    padding: 20px;
}

input {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #46a4ce;
    width: 100%;
}

.input-content {
    margin: 10px;
}




span {
    color: red;
}