<ion-content>

  <div style="text-align: center;">
    <p>REGISTRARSE</p>
  </div>


      <div class="content-form">
        <form [formGroup]="datosForm" (ngSubmit)="registrarse()">
        
          <!-- email -->
          <div class="input-content">
            <label>Email</label>
            <input placeholder="Email" formControlName="email">
            <span 
                *ngIf="datosForm.controls['email'].hasError('required')">
              <i>Este campo es <strong>requerido</strong></i>  
            </span>
            <span style="text-align: end;"
            *ngIf="datosForm.controls['email'].hasError('email')">
            <i>Ingresa un email <strong>válido</strong></i>  
            </span>
    
          </div>
    
          <!-- password -->
          <div class="input-content">
            <label>Contraseña</label>
            <input formControlName="password" type="password" minlength="6">
            <span style="text-align: end;"
                *ngIf="datosForm.controls['password'].hasError('required')">
              <i>Este campo es <strong>requerido</strong></i>  
            </span>
          </div>
    
          <!-- nombre -->
          <div class="input-content">
            <label>Nombre</label>
            <input formControlName="name" type="string">
            <span style="text-align: end;"
                *ngIf="datosForm.controls['name'].hasError('required')">
              <i>Este campo es <strong>requerido</strong></i>  
            </span>
          </div>
    
          <!-- edad -->
          <div class="input-content">
            <label>Edad</label>
            <input formControlName="age" type="number">
            <span style="text-align: end;"
                *ngIf="datosForm.controls['age'].hasError('required')">
              <i>Este campo es <strong>requerido</strong></i>  
            </span>
          </div>
    
          <!-- foto -->
          <div class="input-content">

            <input #files (change)="viewPreview(files)" type="file" 
            style='display: none;' accept="image/*">
            <div>
              <label>Foto</label>
              <button type="button" class="button-image" (click)="files.click()">cargar imagen</button>
            </div>
            <span style="text-align: end;"
                *ngIf="datosForm.controls['photo'].hasError('required')">
              <i>Este campo es <strong>requerido</strong></i>  
            </span>
            @if (datosForm?.controls?.photo?.value) {
              <div style="text-align: center;">
                <img [src]="datosForm.controls.photo.value">
              </div>
            }
          </div>

    
          <!-- enviar -->
          <div style="text-align: center">
            <button type="submit"[disabled]="cargando">
                <strong>Registrarse</strong>
            </button>
          </div>
        
        
        </form>
      </div>
    
      <div style="text-align: center">
        <p> ¿Ya tienes un usuario?</p>
        <button class="ingresar" [routerLink]="['/user/login']" >Ingresar</button>
      </div>


      <h1>Storage</h1>

      <!-- subir directamente -->
      <label for="fileUpload">Choose a File</label>
      <input id="fileUpload" type="file" #upload multiple accept="image/*, .pdf">
      <button type="button" (click)="uploadFile(upload)">Upload {{progress}}%</button>

      <!-- previsualizar antes de subir -->
      <!-- <label for="fileUpload">Choose a File</label> -->
      <!-- <input id="fileUpload" type="file" #upload accept="image/*, .pdf"
      (change)="viewPreview(upload)" > -->


      <!-- <input #files (change)="viewPreview(files)" type="file" 
             style='display: none;' accept="image/*">
      <div>
        <button type="button" (click)="files.click()">cargar imagen</button>
      </div> -->



      
</ion-content>